<div class="content container">
  <div class="columns is-centered">
    <div class="box column is-one-third main-card">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input
          type="number"
          class="input"
          (input)="onChangeLength($event.target)"
        />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            Use Letters
            <input
              type="checkbox"
              [checked]="useLetters"
              (change)="toggleUseLetters()"
            />
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            Use Numbers
            <input
              type="checkbox"
              [checked]="useNumbers"
              (change)="toggleUseNumbers()"
            />
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            Use Special
            <input
              type="checkbox"
              [checked]="useSpecial"
              (change)="toggleUseSpecial()"
            />
          </label>
        </div>
      </div>

      <div class="field">
        <button
          [disabled]="!(passLength && (useLetters || useSpecial || useNumbers))"
          (click)="generatePass()"
          class="button is-link is-fullwidth"
        >
          Generate
        </button>
      </div>

      <div class="box" *ngIf="!!getPassword()">
        <label>Your Password</label>
        <input class="input" [value]="getPassword()" />
      </div>
    </div>
  </div>
</div>
